body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 50px;
  color: black;
}

/* Background */
.doctor-login-container {
  height: 100vh;
  background:#5e78e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.admin-login-card {
  /* background: rgba(255, 255, 255, 0.08); */
  background: white;
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 16px;
  width: 400px;
  color: #5e78e9;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Title */
.admin-login-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* Inputs */
.admin-input-group {
  margin-bottom: 10px;
}

.admin-input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
.admin-text-primary{
  color: white !important;
}
.admin-text-fpwd{
  text-decoration: none;

}
.admin-input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dcdcdc !important;
}
/* Button */
.admin-login-btn {
  width: 100%;
  padding: 12px;
  background:#EDE4C2;
  border: none;
  border-radius: 8px;
  color:white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom:5px !important;
  background: #5E78E9; 
  margin-top: 10px !important;
}

.admin-login-btn:hover {
  background: #547792; 
  color: black;
}

/* Forgot */
.admin-forgot {
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}
.error {
  color: rgb(201, 98, 98);
  font-size: 16px;
  margin-top: 5px;
}
.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}
.password-wrapper{
  border:none !important;
}
.eye-icon-1 {
  position: absolute;
  right: 12px;
  top: 27px !important;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}
.admin-text-primary{
  color: #7087EB !important;
  margin-left: 5px;
}