*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.home-content{
  text-align:center;
  margin-top:50px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
  flex-wrap:wrap;
}

.card{
  width:220px;
  padding:25px;
  border-radius:10px;
  background:#f4f4f4;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
  cursor:pointer;
}

.card:hover{
  transform:translateY(-5px);
}