.navbar {
  display: flex;
  align-items: center;
  padding: 18px; 
  background: #2563EB;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-top: 12px !important;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500 !important;
  font-size: 25px;
  color: white !important;
}

.nav-links a:hover {
  color: #1b6f75;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 100px;
}

/* Notification Icon */
.icon {
  font-size: 25px;
  /* color: #444; */
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* Profile Section */
/* Keep dropdown attached to profile */
.profile-container {
  position: relative;
}

/* Dropdown box */
.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 150px;
  background: #f8fafc; /* light gray like image */
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  overflow: hidden;
  z-index: 999;
}

/* Each item */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  font-size: 20px !important;
  color: #334155;
  cursor: pointer;
  padding-left: 14px !important;
}

/* Divider line */
.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e2e8f0;
}
.profile-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.profile-icon {
  font-size: 30px;
  color: white;
}

.arrow-icon {
  font-size: 12px;
  color: white;
  transition: 0.2s;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

/* Dropdown */
.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 150px;
  background: #f8fafc;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  overflow: hidden;
  z-index: 999;
}

/* Items */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  font-size: 14px;
  color: #334155;
  cursor: pointer;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e2e8f0;
}

.dropdown-item:hover {
  background: #eef2f7;
}

.logout {
  color: #e74c3c;
}

.logout:hover {
  background: #ffeaea;
}
