.BookApp-appointment-card {
  padding: 18px;
  background: #fff;
  border-radius: 12px;
}

.BookApp-appointment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f1f5f9;
  margin-bottom: 25px;
}

.BookApp-close-modal {
  background: none;
  border: none;
  font-size: 28px;
  color: #64748b;
  cursor: pointer;
  width: 5%;
}

.BookApp-close-modal:hover {
  color: white;
  background-color: #0aa5a5;
}

.BookApp-appointment-grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 40px;
  overflow-y: auto;
}
.BookApp-calendar-container {
  width: 80%;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
  background: #0aa5a5;
  color: white;
  border-radius: 50%;
  border: 5px solid #0aa5a5;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background: white;
  color: #0aa5a5;
  border-radius: 50%;
  border: 2px solid #0aa5a5;
}
.BookApp-slots-container {
  margin-left: -100px;
}
.BookApp-doctor-dropdown {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.BookApp-label-text,
.BookApp-label-date {
  display: block;
  font-weight: 700;
  color: #1e293b;
  font-size: 0.95rem;
}

.BookApp-slot-pill {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  margin: 5px;
}

.BookApp-slot-pill.selected {
  background: #0aa5a5;
  color: white;
}

.BookApp-slot-pill.booked {
  background: #e0e0e0;
  color: #999;
  cursor: not-allowed;
}

.BookApp-slot-pill.past {
  background-color: #e5e7eb;
  cursor: not-allowed;
  opacity: 0.6;
}

.BookApp-booking-submit-btn {
  width: 40%;
  margin-top: 30px;
  padding: 10px;
  background: #0aa5a5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

.BookApp-appointment-type-select {
  border: 1px solid #ccc;
  width: 87%;
  border-radius: 7px;
  padding: 5px;
}

.BookApp-cancel-btn {
  width: 40%;
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  margin-left: 30px;
}
